<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travelin - Travel Tour Booking HTML Templates</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/travelin/images/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="/travelin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="/travelin/css/style.css" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="/travelin/css/plugin.css" rel="stylesheet" type="text/css">

    <!--Font Awesome-->

    <link rel="stylesheet" href="/travelin/css/fontawesome.min.css" />

    <link rel="stylesheet" href="/travelin/fonts/line-icons.css" type="text/css">
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Preloader Ends -->