@model CreateTourDto

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Tur Başlığı </label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Ülke</label>
        <input type="text" asp-for="Country" class="form-control" />
        <br />
        <label>Şehir</label>
        <input type="text" asp-for="City" class="form-control" />
        <br />
        <label>Açıklama</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />
        <label>Kapasite</label>
        <input type="number" asp-for="Capacity" class="form-control" />
        <br />
        <label>Tur Tarihi</label>
        <input type="date" asp-for="TourDate" class="form-control" />
        <br />
        <label>Gece Gündüz</label>
        <input type="text" asp-for="DayNight" class="form-control" />
        <br />
        <label>Görsel</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <button class="btn btn-primary">Turu Kaydet</button>

    </form>
</div>
