@model List<ResultCommentDto>


<div class="bg-surface-container-lowest p-8 rounded-xl border border-outline-variant/10 group hover:border-primary-container transition-all duration-300">
    <div class="flex items-center justify-between mb-6">
        <div class="w-12 h-12 rounded-full bg-primary-container/20 flex items-center justify-center text-primary">
            <span class="material-symbols-outlined">star</span>
        </div>
        <span class="text-xs font-bold text-on-surface-variant bg-surface-container-high px-3 py-1 rounded-full uppercase tracking-wider">4.9 Ort.</span>
    </div>
    <p class="text-label-md text-on-surface-variant font-medium uppercase tracking-widest mb-1">Yorumlar</p>
    <h3 class="text-4xl font-black text-on-surface">@Model.Count</h3>
</div>