<!-- footer starts -->
<footer class="pt-20 pb-4" style="background-image: url(/travelin/images/background_pattern.png);">
    <div class="section-shape top-0" style="background-image: url(/travelin/images/shape8.png);"></div>
    
    <div class="footer-upper pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 pe-4">
                    <div class="footer-about">
                        <img src="/travelin/images/logo-white.png" alt="">
                        <p class="mt-3 mb-3 white">
                            Hayalinizdeki seyahati gerçeğe dönüştürmek için yola çıktık. Kültür turlarından doğa kaçamaklarına, yurt içi ve yurt dışı rotalarda unutulmaz deneyimler sunuyoruz. Alanında uzman rehberlerimiz, güvenli ulaşım ve özenle planlanmış programlarımızla her detayı sizin için düşünüyoruz.
                        </p>
                        <ul>
                            <li class="white"><strong>Telefon:</strong> +90 212 555 25 42</li>
                            <li class="white"><strong>Adres:</strong> Bağdat Caddesi No:120, Kadıköy / İstanbul</li>
                            <li class="white"><strong>E-posta:</strong> info@travelin.com</li>
                            <li class="white"><strong>Web Sitesi:</strong> www.travelin.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Hızlı Linkler</h3>
                        <ul>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Tur ve Rezervasyon Bilgileri</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Kullanım Şartları</a></li>
                            <li><a href="#">Müşteri Hizmetleri</a></li>
                            <li><a href="#">İptal ve İade Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Kategoriler</h3>
                        <ul>
                            <li><a href="#">Yurt İçi Turlar</a></li>
                            <li><a href="#">Yurt Dışı Turlar</a></li>
                            <li><a href="#">Kültür Turları</a></li>
                            <li><a href="#">Doğa & Macera Turları</a></li>
                            <li><a href="#">Günübirlik Turlar</a></li>
                            <li><a href="#">Özel Organizasyonlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Bültenimize Abone Olun</h3>
                        <div class="newsletter-form">
                            <p class="mb-3">
                                Kampanyalar, yeni tur rotaları ve özel indirimlerden ilk siz haberdar olun.
                                E-posta bültenimize katılarak ayrıcalıklı fırsatları kaçırmayın.
                            </p>
                            <form action="#" method="get" accept-charset="utf-8" class="border-0 d-flex align-items-center">
                                <input type="text" placeholder="E-posta Adresiniz">
                                <button class="nir-btn ms-2">Abone Ol</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-payment">
        <div class="container">
            <div class="row footer-pay align-items-center justify-content-between text-lg-start text-center">
                <div class="col-lg-8 footer-payment-nav mb-4">
                    <ul class="">
                        <li class="me-2">Destekliyoruz:</li>
                        <li class="me-2"><i class="fab fa-cc-mastercard fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-paypal fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-stripe fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-visa fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-discover fs-4"></i></li>
                    </ul>
                </div>
                <div class="col-lg-4 footer-payment-nav mb-4">
                    <ul class="d-flex align-items-center">
                       
                        <li class="gap-5">
                            <div id="google_translate_element" class="mt-2 me-2"></div>
                        </li>
                        <li class="w-25">
                            <select class="niceSelect rounded">
                                <option>$ USD</option>
                                <option>$ AUD</option>
                                <option>$ YEN</option>
                                <option>$ IN</option>
                                <option>$ NP</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="copyright-inner rounded p-3 d-md-flex align-items-center justify-content-between">
                <div class="copyright-text">
                    <p class="m-0 white">@DateTime.Now.Year Travelin. All rights reserved.</p>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</footer>
<!-- footer ends -->



<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
          pageLanguage: 'tr', // Sitenin orijinal dili (Türkçe)
          includedLanguages: 'en,de,fr,es,tr', // Sadece bu 5 dili listele (İng, Alm, Fra, İsp, Tür)
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE, // Sade bir görünüm
          autoDisplay: false
      }, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>